h1{text-align: center;
 color: orangered;
 padding: 10px; }
 #fond {
 width: 100%; 
 background-color: rgb(183, 0, 255);
 }
h2{text-indent: 30px; 
color: rgb(245, 0, 136); 
padding: 10px;
}
body
{
	margin: 0 auto;
	background-color:aquamarine  ; font-family: "helvetica", Georgia, serif;
	text-align: center;
    align-content: center;
	line-height: 4em; 
}
	ul li 
{ list-style-type: none; color:rgb(0, 102, 255); } 
p{
    color: orangered; 
}



